<% if feature_flags.bibliography_resource? %>
  <%= bootstrap_form_for([current_exhibit, @resource.becomes(BibliographyResource)], layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-6', as: :resource) do |f| %>
    <%= f.file_field :bibtex_file, label: t('bibliography_resources.form.label'), control_col: 'col-sm-6', required: true, accept: 'application/x-bibtex', help: t('bibliography_resources.form.help') %>
    <div class="form-actions">
      <div class="primary-actions">
        <%= cancel_link @resource, :back, class: 'btn btn-default' %>
        <%= f.submit t('.add_item'), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end if can? :manage, @resource %>
<% else %>
  This feature is not currently available for this exhibit.
<% end %>
