<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to t('metadata.more_details'),
                  helpers.metadata_exhibit_solr_document_path(@exhibit, @document),
                  data: { blacklight_modal: 'trigger' },
                  class: 'btn btn-primary' %>
    </div>
  </div>
</div>
