<div class="navbar-nav searchtips-link">
  <a class="nav-link" data-blacklight-modal="trigger" href="/search_tips">
  <%= helpers.blacklight_icon('outline_info', classes: 'me-1 pt-0 d-inline-block') %><%= t('search_tips.title') %></a>
</div>
