<div id="site-navbar" class="site-navbar mt-auto navbar navbar-light navbar-expand-md">
  <div class="container">
    <% if Settings.feature_flags.search_across || in_search_across? %>
      <%= render SiteSearchFormComponent.new(url: helpers.search_action_url, params: helpers.search_state.params_for_search.except(:qt)) %>
    <% end  %>
  </div>
</div>
