<!-- Spotlight has built-in styling for #skip-link -->
<nav id="skip-link" class="visually-hidden-focusable" aria-label="<%= t('blacklight.skip_links.label') %>">
    <%= link_to_main %>
    <%= link_to_search %>
    <%= link_to_content %>
</nav>