<% value = presenter.thumbnail.render(@image_options) %>

<% if value %>
  <div>
    <%= helpers.link_to_document(presenter.document, value, 'aria-hidden': true, class: 'document-thumbnail', tabindex: -1, counter: @counter) %>
    <%= helpers.iiif_drag_n_drop(exhibit_specific_manifest, document: @document) if exhibit_specific_manifest %>
  </div>
<% end %>
