<div id="masthead" class="jumbotron">
  <div class="container">
    <div class="site-title h1">
      <%= link_to 'Online Exhibits', root_path %>
      <small class="hidden-xs">
        Notable collections showcased by Stanford librarians, archivists, and other curators
      </small>
    </div>
  </div>
</div>
