<% unless @response.documents.blank? %>
  <div class="btn-group search-group" role="group" aria-label="Basic example">
    <%= link_to 'All results', url_for(search_without_group), class: "btn btn-sm btn-primary #{'active' unless params[:group]}" %>
    <%= link_to 'Grouped by exhibit', url_for(search_with_group), class: "btn btn-sm btn-primary #{'active' if params[:group]}" %>
  </div>
<% end %>
