<%= bootstrap_form_for(Spotlight::Resources::DorHarvester.instance(current_exhibit), url: spotlight_dor_resources_engine.exhibit_dor_harvester_path(exhibit_id: current_exhibit), layout: :horizontal, label_col: 'col-md-2', control_col: 'col-sm-6 col-md-6') do |f| %>
  <%= f.text_area :druid_list, rows: 10  %>

  <div class="form-actions">
    <div class="primary-actions">
      <%= cancel_link "", :back, class: 'btn btn-default' %>
      <%= f.submit t('.add_item'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
