# You will want to copy this file and change the following settings:
# 1. the dor_fetcher service_url
# 2. purl url

dor_fetcher:
  service_url: http://dorfetcher_url
  # if skip_heartbeat set to true, this will skip a check that the dorfetcher service is alive before making API calls
  skip_heartbeat: true

harvestdor:
  # log_dir:  directory for log file  (default logs, relative to harvestdor gem path)
  log_dir: log/gdor_logs

  # log_name: name of log file  (default: harvestdor.log)
  log_name: gdor.log

  # purl: url for the DOR purl server (used to get ContentMetadata, etc.)
  purl: https://purl.stanford.edu

# the severity level of messages to be logged.  Valid values are debug, info, warn, error, fatal
# default: info (set in gdor-indexer)
log_level: info
