<% if @document.zotero_url.present? %>
  <a href="<%= @document.zotero_url %>" class="btn btn-info btn-view-on-zotero pull-right">
    <%= t('bibliography_resources.show.zotero_button') %>
  </a>
<% end %>
