<% if document.bibliography.present? && current_exhibit.bibliography_service %>
  <div class='col-md-12'>
    <%= content_tag(:h3, current_exhibit.bibliography_service.header, class: 'bibliography-service-heading') %>
    <ul>
      <%= render document.bibliography %>
    </ul>
  </div>
<% end %>
