<% if @document.reference? && @document.cites_other_documents? %>
  <div class='col-md-12 record-metadata-section'
       data-behavior='cited-documents-contents'
       data-path="<%= url_for(:documents_list) %>"
       data-parentid="<%= @document.id %>"
       data-documentids="<%= @document.related_document_ids %>"
  >
    <h3 class="col-md-9 mt-4"><%= t('bibliography_resources.show.related_documents') %></h3>
    <ul class="col-md-9 cited-documents-list"></ul>
  </div>
<% end %>
