<% if @document.modsxml %>
  <div class='container'>
    <div class='row'>
      <% # Using the Bootstrap container/row/col structure here to easily get this on its own line %>
      <div class='col-md-12'>
        <%= link_to  t('metadata.more_details'),
                    metadata_exhibit_solr_document_path(current_exhibit, @document),
                    data: { ajax_modal: 'trigger' },
                    class: 'btn btn-default'
        %>
      </div>
    </div>
  </div>
<% end %>
