<% if @document.canvas? %>
  <div class='col-md-12 record-metadata-section'>
    <h3 class="col-md-9 mt-4">Page details</h3>
    <div class="col-md-9">
      <ul>
        <% @document.canvas.annotations.each do |annotation| %>
          <li><%= annotation %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
