<a class='show-hide-toggle' role='button' data-bs-toggle='collapse' href='#<%= collapse_id %>' aria-expanded='false' aria-controls='<%= collapse_id %>'>
  <span>Show</span>
</a>
<div class='collapse' id='<%= collapse_id %>'>
  <div class='well'>
    <ul>
      <%= contents %>
    </ul>
  </div>
</div>
