<a role='button' data-toggle='collapse' href='#<%= collapse_id %>' aria-expanded='false' aria-controls='<%= collapse_id %>'><span>Show</span><b class='caret caret-right'></b>
</a>
<div class='collapse' id='<%= collapse_id %>'>
  <div class='well'>
  <%= contents %>
  </div>
</div>
