<a role='button' data-toggle='collapse' href='#collapseToc' aria-expanded='false' aria-controls='collapseToc' >Show<b class='caret caret-right'></b>
</a>
<div class='collapse' id='collapseToc'>
  <div class='well'>
  <%= contents %>
  </div>
</div>
