#sdr-item-status-section {
  .card > .card-heading {
    background-color: $color-beige-05;
  }
}

#external_resources_form {
  .accordion > .card {
    overflow: visible;
  }
}

// TODO: form-group isn't a thing in BS5 so...what to do here?
.form-group.sdr-form {
  margin-left: 10px;
}

button[aria-expanded=true] + .icon-expand-rotate svg {
  transform: rotate(90deg);
}

.text-as-label {
  font-weight: bold;
}

h3 + .table.analytics {
  margin-top: $spacer * 2;
}

.table.analytics {
  background-color: $table-accent-bg;

  .value {
    color: $color-gray-90;
    font-size: $h2-font-size;
    font-weight: 700;
    padding-bottom: 0;
  }

  + h4 {
    margin-top: $spacer * 4;
  }
}

[data-behavior="translation-progress"] .badge {
  background-color: $color-beige-10;
  border-radius: 3px;
  color: $black;
  font-weight: normal;
}

#new_language {
  margin-bottom: $spacer * 3;
}

.translation-subheading {
  font-size: $h3-font-size;
  margin-top: $spacer * 3;
  padding-bottom: $spacer;
}
