#sdr-item-status-section {
  .panel-default > .panel-heading {
    background-color: $color-beige-05;
  }
}

.form-group.sdr-form {
  margin-left: 10px;
}

a[aria-expanded=true] .glyphicon-chevron-right {
  display: none;
}

a[aria-expanded=false] .glyphicon-chevron-down {
  display: none;
}

.text-as-label {
  font-weight: bold;
}

.input-like-text {
  padding-top: 7px;
}
