#sdr-item-status-section {
  .card > .card-heading {
    background-color: $color-beige-05;
  }
}

.form-group.sdr-form {
  margin-left: 10px;
}

a[aria-expanded=true] .glyphicon-chevron-right {
  display: none;
}

a[aria-expanded=false] .glyphicon-chevron-down {
  display: none;
}

.text-as-label {
  font-weight: bold;
}

h3 + .table.analytics {
  margin-top: $padding-large-vertical * 2;
}

.table.analytics {
  background-color: $table-accent-bg;

  .value {
    color: $color-gray-90;
    font-size: $h2-font-size;
    font-weight: 700;
    padding-bottom: 0;
  }

  + h4 {
    margin-top: $padding-large-vertical * 4;
  }
}

[data-behavior="translation-progress"] .badge {
  background-color: $color-beige-10;
  border-radius: 3px;
  color: $black;
  font-weight: normal;
}

#new_language {
  margin-bottom: $padding-large-vertical * 3;
}

.translation-subheading {
  font-size: $h3-font-size;
  margin-top: $padding-large-vertical * 3;
  padding-bottom: $padding-base-vertical;
}
