#external_resources_form {
  .accordion > .card {
    overflow: visible;
  }
}

.form-group.sdr-form {
  margin-left: 10px;
}

button[aria-expanded=true] + .icon-expand-rotate svg {
  transform: rotate(90deg);
}

.text-as-label {
  font-weight: bold;
}

h3 + .table.analytics {
  margin-top: $spacer * 2;
}

.table.analytics {
  @extend .table-light;

  .value {
    color: var(--bs-heading-color);
    font-size: $h2-font-size;
    font-weight: 700;
    padding-bottom: 0;
    border-bottom: 0;
    border-top: 1px solid var(--bs-border-color);
  }

  + h4 {
    margin-top: $spacer * 4;
  }
}

.table.popular-pages thead {
  border-top: 1px solid var(--bs-border-color);
}

[data-behavior="translation-progress"] .badge {
  background-color: $fog-light;
  border-radius: 3px;
  color: $black;
  font-weight: normal;
}

#new_language {
  margin-bottom: $spacer * 3;
}

.translation-subheading {
  font-size: $h3-font-size;
  margin-top: $spacer * 3;
  padding-bottom: $spacer;
}
