.record-metadata-section {
  margin-left: 0;
  padding-left: 0;

  h3 {
    margin-left: 0;
    padding-left: 0;
  }

  ul,
  .bibliography-list {
    margin-left: 0;
    padding-left: 0;

    a {
      white-space: nowrap;
    }

    li,
    .bibliography-body {
      margin-left: 2em;
      max-width: 80ch;
    }

    .bibliography-body {
      text-indent: -2em;

      &.hide-bibliography {
        display: none;
      }
    }
  }

  .bibliography-button {
    .bibliography-icon {
      display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
      line-height: 1;
      margin-left: 5px;
      transform: rotate(90deg);
    }

    &.bibliography-expanded {
      .bibliography-icon {
        transform: rotate(-90deg);
      }
    }
  }
}

.btn-view-on-zotero {
  margin-right: 10px;
}

.general-notes {
  padding-left: 15px;
}
