.facets-heading {
  @include heading-with-border();

  width: 100%;
}

.facet-limit {
  margin-bottom: 7px;
}

.constraints-container {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  padding: $spacer 0;
}

.blacklight-catalog-show {
  #content {
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  .document-metadata {
    margin-top: 2 * $spacer;

    dd {
      max-width: 45em;
    }
  }

  .constraints-container {
    display: none;
  }
}

.img-thumbnail {
  border: 0;
}

#document {
  h1 {
    font-size: 1.5rem;
  }
}

.document-thumbnail img {
  max-height: 200px;
  max-width: 100%;
}

#documents {
  .index_title {
    font-size: 1rem;
    margin-top: 0;
  }

  .img-thumbnail,
  .document-thumbnail {
    img {
      @include thumbnail-image-border;
    }
  }

  &.documents-list {
    .document {
      box-sizing: content-box;
      min-height: 100px;
      padding-bottom: $spacer;
      padding-top: $spacer;
    }

    .document-counter {
      display: none;
    }

    .document-metadata {
      @extend .col-8;
      @extend .col-md-9;
      @extend .offset-3;
      @extend .offset-md-2;
    }

    .document-thumbnail {
      float: none;
      height: 0;
      margin: 0;
      padding: 0;
    }
  }

  &.gallery {
    .thumbnail {
      border: 0;
    }

    dl {
      display: block;
    }
  }
}

dt.blacklight-geographic_srpt {
  display: none;
}

dd.blacklight-geographic_srpt {
  margin-left: 0;
}
