.blacklight-heatmaps-show-map-wrapper {
  @media (min-width: breakpoint-min("sm")) {
    padding-left: 50px;
  }
}

.blacklight-heatmaps-show-map {
  margin-bottom: $padding-large-vertical;
  width: 100%;

  @media (min-width: breakpoint-min("sm")) {
    height: 250px;
  }
}
