.facets-heading {
  @extend .h3;
  @include heading-with-border();
}

.top-panel-heading {
  padding: $padding-base-vertical 0;
}

.constraints-container {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  padding: $padding-base-vertical 0;
}

.blacklight-catalog-show {
  #content {
    width: 100%;
  }

  #sidebar {
    display: none;
  }
}

.thumbnail {
  border: 0;
}

#document {
  .oembed-widget {
    @extend .col-md-6;
    @extend .col-sm-12;

    padding-left: 0;
  }

  h1 {
    font-size: $font-size-h3;
  }
}

.document-thumbnail img {
  max-height: 200px;
}

#documents {
  .index_title {
    font-size: $font-size-large;
    margin-top: 0;
  }

  .thumbnail,
  .document-thumbnail {
    img {
      @include thumbnail-image-border;
    }
  }

  &.documents-list {
    .document {
      box-sizing: content-box;
      min-height: 100px;
      padding-bottom: $padding-large-vertical;
      padding-top: $padding-large-vertical;
    }

    .document-counter {
      display: none;
    }

    .document-metadata {
      @extend .col-xs-8;
      @extend .col-md-9;
      @extend .col-xs-offset-3;
      @extend .col-sm-offset-2;
    }

    .document-thumbnail {
      float: none;
      height: 0;
      margin: 0;
      padding: 0;
    }
  }

  &.gallery {
    .thumbnail {
      border: 0;
    }
  }
}

dt.blacklight-geographic_srpt {
  display: none;
}

dd.blacklight-geographic_srpt {
  margin-left: 0;
}
