#main-container {
  min-height: calc(100vh - 471px);
}

.facet-limit {
  margin-bottom: 7px;
}

.constraints-container {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  padding: $spacer 0;
}

.blacklight-catalog-show {
  #content {
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  .document-metadata {
    margin-top: 2 * $spacer;

    dd {
      max-width: 45em;
    }
  }

  .constraints-container {
    display: none;
  }
}

.img-thumbnail {
  border-radius: 0;
  padding: 0;
}

// Hide image border for this widget only because curators use it with images
// they want to blend into the page background.
.uploaded-items-block .img-thumbnail {
  border: 0;
}

#document {
  h1 {
    font-size: 1.5rem;
  }
}

#documents {
  .index_title {
    font-size: 1rem;
    margin-top: 0;
  }

  .img-thumbnail,
  .document-thumbnail {
    img {
      border: var(--thumbnail-image-border);
    }
  }

  &.documents-list {
    .document {
      box-sizing: content-box;
      min-height: 100px;
      padding-bottom: $spacer;
      padding-top: $spacer;
    }

    .document-counter {
      display: none;
    }

    .document-thumbnail img {
      display: block;
    }
  }

  &.gallery {
    .thumbnail {
      border: 0;
    }

    dl {
      display: block;

      // Override the max-width's (set by bootstrap's columns)
      dt,
      dd {
        max-width: 100%;
      }
    }
  }
}

#documents.documents-masonry,
#documents.documents-gallery,
.spotlight-admin-thumbnail {
  .iiif-dnd {
    display: none;
  }
}

.btn-primary {
  .blacklight-icons svg {
    fill: $white;
  }
}
