@import "leaflet/dist/leaflet";
@import "leaflet-sidebar/src/L.Control.Sidebar";

.blacklight-heatmaps-index-map {
  height: 500px;
}

.view-icon-heatmaps {
  &:before {
    content: "\e135";
  }
}

.blacklight-heatmaps-show-map {
  margin-bottom: $spacer;
  width: 100%;
  height: 500px;

  @media (min-width: breakpoint-min("sm")) {
    height: 250px;
  }
}

.blacklight-heatmaps-index-map-container #heatmaps-documents-list {
  height: 400px;
  overflow-y: auto;
}
