.show-hide-toggle {
  @include caret();

  &::after {
    vertical-align: middle;
    transform: rotate(-90deg);
    margin-left: 0;
  }

  &[aria-expanded="true"]::after {
    transform: rotate(0deg);
  }
}
