.exhibit-search-typeahead {
  .tt-input {
    // Override the transparent background added inline
    // by twitter-typeahead
    background-color: $navbar-default-bg !important;
  }

  .tt-dropdown-menu {
    width: 100%;
  }

  .tt-suggestion {
    border-bottom: 1px solid $exhibit-title-typeahead-border;

    .subtitle {
      display: block;
      font-size: 13px;
      margin-top: 0.25em;
    }
  }

  .tt-suggestion,
  .no-items {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 8px;
    padding: 0 15px 8px;
    text-transform: none;
  }
}
