dt.blacklight-full_text_tesimv,
dt.prepared-search-container {
  color: $gray-dark;
  cursor: pointer;
  display: inline-block;
  text-align: initial;
  width: auto;

  &::after {
    border-width: 6px;
    font-weight: 600;
    margin-left: 6px;
  }
}

dd.blacklight-full_text_tesimv {
  border-left: 1px solid $color-gray-80;
  margin-left: 15px;
  margin-top: 6px;
  width: 100%;

  em {
    font-weight: bold;
  }
}
