dt.blacklight-full_text_tesimv,
dt.prepared-search-container {
  color: $gray-dark;
  cursor: pointer;
  display: inline-block;
  float: none;
  text-align: initial;
  width: auto;
  @extend .col-12;

  &::after {
    border-width: 6px;
    color: $color-cardinal-red;
    margin-left: 6px;
  }
}

dd.blacklight-full_text_tesimv {
  border-left: 1px solid $color-gray-80;
  float: none;
  margin-left: 15px;
  margin-top: 6px;
  @extend .col-12;

  em {
    font-weight: bold;
  }
}
