.blacklight-exhibits-index {
  #main-container {
    padding-left: 0;
  }
}

.btn {
  small {
    color: $gray-light;
    display: block;
  }
}

.stanford-only {
  padding-bottom: 6px;
  padding-left: 3px;
}
