.blacklight-exhibits-index {
  #main-container {
    padding-left: 0;
  }
}

.home-page-column {
  h2,
  h3 {
    @include heading-with-border();
    font-size: $font-size-h3;
    padding-bottom: $padding-base-vertical;
    padding-top: 0;
  }

  .btn + h3 {
    margin-top: $padding-large-vertical * 2;
  }
}

.btn {
  small {
    color: $gray-light;
    display: block;
  }
}
