.blacklight-exhibits-index {
  #main-container {
    padding-left: 0;
  }
}

.home-page-column {
  margin-left: 6px;

  h2,
  h3 {
    @include heading-with-border();
    font-size: $h3-font-size;
    padding-bottom: $spacer;
    padding-top: 0;
  }

  .btn + h3 {
    margin-top: $spacer * 2;
  }

  .nav > li > a {
    padding-left: 3px;
  }
}

.btn {
  small {
    color: $gray-light;
    display: block;
  }
}

.new_user .form-actions {
  margin-bottom: $spacer * 4;
}

#all_users.well {
  background-color: $white;
}

.stanford-only {
  padding-bottom: 6px;
  padding-left: 3px;
}
