.blacklight-exhibits-index {
  #main-container {
    padding-left: 0;
  }
}

.home-page-column {
  margin-left: 6px;

  h2,
  h3 {
    @include heading-with-border();
    font-size: $font-size-h3;
    padding-bottom: $padding-base-vertical;
    padding-top: 0;
  }

  .btn + h3 {
    margin-top: $padding-large-vertical * 2;
  }

  .nav > li > a {
    padding-left: 3px;
  }
}

.btn {
  small {
    color: $gray-light;
    display: block;
  }
}

.card-front img {
  border-bottom: 1px solid $color-beige-40;
  box-shadow: 0 4px 6px -6px $color-gray-60;
}

.new_user .form-actions {
  margin-bottom: $padding-large-vertical * 4;
}

#all_users.well {
  background-color: $white;
}

.nav > li > a.exhibit-inline {
  display: inline-block;
  padding-right: 6px;
}

.stanford-only {
  padding-bottom: 6px;
}
