.topbar {
  height: $brandbar-height;

  .navbar-brand {
    @extend .text-hide;

    background: transparent image-url("StanfordLibraries-logo-whitetext.svg") no-repeat center left;
    background-size: contain;
    height: $brandbar-height;
    margin: 0;
    padding: 0.5rem;
    width: 189px;
  }

  @media (max-width: breakpoint-min("md")) {
    height: auto;

    .navbar-nav {
      &.float-right {
        float: none !important;
      }
    }

    > li {
      > a {
        padding-bottom: $brandbar-padding-vertical;
        padding-top: $brandbar-padding-vertical;
      }
    }
  }
}

.site-navbar {
  @extend .navbar-dark;
  background-color: $navbar-transparent-page-bg;

  .navbar-nav {
    text-transform: uppercase;

    .dropdown-menu {
      text-transform: none;
    }
  }

  .search-query-form {
    min-width: 17em;
  }

  @media (min-width: breakpoint-min("lg")) {
    .site-search-nav {
      max-width: 30em;
    }
  }

  @media (min-width: breakpoint-min("xl")) {
    .site-search-nav {
      max-width: 32em;
    }
  }
}

.exhibit-navbar,
.site-navbar {
  .search-query-form {
    .btn-primary {
      @extend .btn-secondary;
      border-color: $input-border-color;

      svg {
        color: $sul-search-btn-color;
      }
    }
  }
}
