#user-util-collapse {
  margin-inline-end: -0.5rem;
}

.site-navbar {
  background-color: rgba(var(--stanford-fog-light-rgb), 0.8);

  .searchtips-link a {
    color: var(--stanford-black);
  }
}

.image-wrapper {
  height: 10.625rem;
}

.masthead {
  .masthead-title a {
    --bs-link-hover-decoration: none;
  }

  .masthead-navigation {
    li {
      --sul-link-font-weight: 700;
      a {
        padding-block: 0.5rem;
        color: var(--stanford-black);
        white-space: nowrap;
      }
    }
    li:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.grecaptcha-badge {
  display: none;
}
