@mixin heading-with-border() {
  font-weight: 300;
  border-bottom: 1px solid $heading-border-color;
  color: $color-dark-red;
  margin-bottom: 6px;
  padding-bottom: 3px;
  padding-left: 3px;
}

@mixin sidebar-link-active() {
  color: $sidebar-link-color;
  font-weight: 600;
}

@mixin thumbnail-image-border() {
  border: 1px solid $color-gray-80;
}
