@mixin heading-with-border() {
  font-weight: 300;
  border-bottom: 1px solid $heading-border-color;
  color: $color-dark-red;
  margin-bottom: 6px;
  padding-bottom: 3px;
  padding-left: 3px;
}

@mixin brandbar-vertical-align($element-height) {
  margin-top: (($brandbar-height - $element-height) / 2);
  margin-bottom: (($brandbar-height - $element-height) / 2);
}

@mixin sidebar-link-active() {
  color: $sidebar-link-color;
  font-weight: 600;
}
