@mixin heading-with-border() {
  font-weight: 300;
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
  margin-bottom: 6px;
  padding-bottom: 3px;
  padding-left: 3px;
}

@mixin sidebar-link-active() {
  font-weight: 600;
  cursor: default;
  text-decoration: none;
}
