body,
.thumbnail {
  background-color: $color-beige-05;
}

// Hide PURL link beneath the IIIF viewer
.purl-link {
  display: none;
}

.sul-footer,
#global-footer {
  display: none;
}

.view-metadata {
  dt[title='Contents'],
  dt[title='Contents'] + dd {
    display: none;
  }
}
