body,
.img-thumbnail {
  background-color: $fog-light;
}

// Hide PURL link beneath the IIIF viewer
.purl-link {
  display: none;
}

.view-metadata {
  dt[title='Contents'],
  dt[title='Contents'] + dd {
    display: none;
  }
}
