@mixin toggle-arrow {
  &::before {
    content: "\00BB ";
    display: inline-block;
    font-size: 1.2em;
    padding-right: 5px;
  }

  &.open::before {
    transform: rotate(90deg);
  }
}

#mods_display_related_item_dt {
  width: 20em;
}

.mods_display_related_item_label {
  @include toggle-arrow;
  display: inline-block;
  margin-left: 0.5em;
}

.mods_display_nested_related_items {
  list-style: none;
  padding-left: 0;

  .mods_display_nested_related_item {
    @include toggle-arrow;
    dl {
      margin-bottom: 0;
      margin-left: 12px;
    }
  }
}
