.blacklight-search_across {
  .sort-pagination {
    flex-wrap: wrap;
  }

  .page-links {
    @extend .w-100;
  }

  .search-widgets {
    @extend .w-100;
    display: flex;
    justify-content: flex-end;
  }

  .btn-group {
    margin-left: 0.5rem;
  }

  .search-group {
    margin-left: 0;
    margin-right: auto;
  }
}

.exhibit-list {
  .card {
    flex-direction: row;
    margin-bottom: $spacer;

    @media (max-width: breakpoint-max(sm)) {
      background-color: unset !important;
      border: unset;
    }
  }

  .card-body {
    flex-direction: column;
  }

  .card-title {
    @extend .h3;

    @media (max-width: breakpoint-max(sm)) {
      font-size: 20px;
    }
  }

  .card-img {
    @media (max-width: breakpoint-max(sm)) {
      max-width: 100px;
    }

    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: auto;

    img {
      object-fit: contain;
    }
  }

  .exhibit-description,
  &:hover .exhibit-description,
  &:focus-within .exhibit-description {
    margin-bottom: 0;
    max-height: inherit;
  }

  .subtitle {
    @extend .h5;
    font-size: 0.875rem;
    line-height: $headings-line-height;
    text-align: left;
  }

  .description {
    -webkit-line-clamp: 4;
    max-width: 75ch;
    @media (max-width: breakpoint-max(sm)) {
      display: none;
    }
  }

  .exhibit-card {
    padding-bottom: 0;
  }
}

.exhibit-gallery {
  .card-body {
    text-align: center;
  }

  .card-title {
    @extend .h4;
  }

  .description {
    display: none;
    line-clamp: 4;
  }

  .exhibit-description,
  &:hover .exhibit-description,
  &:focus-within .exhibit-description {
    margin-bottom: 0;
    max-height: inherit;
  }

  .exhibit-card {
    padding-bottom: 0;
  }
}
