// scss-lint:disable ImportantRule

body {
  margin-bottom: 0;
}

.dd-list {
  .panel-default {
    > .panel-heading {
      background-color: $gray-200;
    }
  }
}

.panel-default {
  .page {
    background-color: $gray-200;
  }
}

#content .browse-landing .text-overlay .browse-category-title {
  @media (min-width: breakpoint-min("md")) and (max-width: breakpoint-min("lg")) {
    font-size: 1.4rem;
    line-height: 1.1;
  }

  @media (min-width: breakpoint-min("lg")) and (max-width: breakpoint-min("xl")) {
    font-size: $h4-font-size;
  }

  small {
    @media (min-width: breakpoint-min("md")) and (max-width: breakpoint-min("lg")) {
      font-size: 1.125rem;
    }
  }
}

// Adjust size of page titles, headings, etc.
.page-title,
.page-header {
  font-size: 2rem;

  small {
    font-size: 1.5rem;
  }
}

.blacklight-browse main h1 {
  font-size: 2rem;
}

.item-count {
  font-size: 1.25rem;
}

.category-caption .item-count {
  color: inherit;
}

small.form-text {
  font-size: 0.875rem;
}

.browse-translations-header,
table#exhibit-specific-fields .field-label {
  font-size: 1.125rem;
}

#content h2 {
  font-size: 1.75rem;

  &.card-title {
    font-size: 1.125rem;
    line-height: 1.3em;
  }
}

.exhibit-card {
  --bs-card-bg: var(--stanford-fog-light);
  overflow-y: hidden;

  .card-title a:hover {
    text-decoration: none;
  }

  .card-img-overlay {
    --exhibit-card-overlay-opacity: 0.9;
    --exhibit-card-overlay-rgb: var(--stanford-fog-light-rgb);
  }

  &:hover,
  &:focus-within {
    .exhibit-description {
      margin-bottom: 1.6em;
    }
  }

  .description {
    font-size: 0.8rem;
    line-height: 1.6em;
    margin-bottom: 0;
  }
}

.empty-page-block h2 {
  font-size: 1.5rem;
}

// Ajustments to sidebars to use SUL color palette, more compact vertical spacing
#sidebar li {
  margin-top: 0;
}

#sidebar ul.nav > li a {
  padding: 0.25rem;

  .blacklight-about_pages-show & {
    // accommodate likely occurrence of multi-line items
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

.page-sidebar .nav-link.active,
#sidebar ol.sidenav li.active,
#sidebar ul.sidenav li.active a,
#sidebar ol.sidenav li.active h2 {
  font-weight: 600;
  cursor: default;
  text-decoration: none;
}

.blacklight-about_pages-show #sidebar {
  margin-top: $spacer;

  .contacts-header {
    margin-top: $spacer * 2.5;
  }
}

// Use SUL colors for facet sidebar
.facets-header {
  padding-top: 0;
}

.st__content-block--image {
  text-align: center;

  img {
    border: var(--thumbnail-image-border);
  }
}

.img-thumbnail > img,
.img-thumbnail > a > img {
  border: var(--thumbnail-image-border);
}

.search-widgets {
  .btn {
    @extend .btn-sm;
  }

  .view-type-group {
    height: $input-height-sm;
    .active {
      --bs-btn-active-bg: var(--stanford-digital-blue);
      --bs-btn-active-color: white;
    }
  }
}

.tags .nav-link {
  margin-bottom: 0.5rem;
  padding: 0.33rem 0.66rem;

  &[href="/?tag=Social+justice"] {
    color: var(--stanford-cardinal);
    font-weight: 500;

    &::before {
      // Licensed (required to change color) from:
      // https://thenounproject.com/search/?q=justice%20scale&i=3316424
      content: url("social-justice.svg");
      display: inline-flex;
      height: 1.3rem;
      margin-right: 0.6rem;
      vertical-align: top;
      width: 1rem;
    }

    &.active {
      font-weight: 600;
    }
    
  }
}

// A hackety McHack so that the search fields contain "Everything" in all the browsers
#exhibit-navbar #search_field {
  min-width: 127px;
}

// scss-lint:enable ImportantRule

// https://github.com/projectblacklight/spotlight/pull/2555
.item-text {
  .items-col {
    z-index: 1;
  }
}

// This allows for the skip links to appear above the header
// instead of overlapping with the header. 
#skip-link {
  position: relative !important;
}