#header-navbar {
  a {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

// scss-lint:disable ImportantRule
.site-title {
  font-size: 2.125rem;
}

.masthead small {
  font-size: 1.3rem;
}

.dd-list {
  .panel-default {
    > .panel-heading {
      background-color: $gray-200;
    }
  }
}

.panel-default {
  .page {
    background-color: $gray-200;
  }
}

// Increase font size because we're using Source Sans in this app
// and Source Sans is noticeably smaller than the default font.
.image-masthead .navbar ul.navbar-nav > li a {
  font-size: 15px;
  letter-spacing: 1.1px;
}

.browse-landing .text-overlay .browse-category-title {
  font-size: 26px;

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    font-size: 22px;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 19px;
  }
}

// Reduce size of page titles, headings, etc.
.page-title,

.page-header {
  font-size: 1.875rem;
  color: $heading-font-color;

  small {
    font-size: 1.5rem;
  }
}

.item-count {
  color: $cool-grey;
  font-size: 1.25rem;
}

h3,
.h3,
.empty-page-block h2 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

// Ajustments to sidebars to use SUL color palette, more compact vertical spacing
#sidebar li {
  margin-top: 0;
}

#sidebar .facets-heading,
#sidebar .nav-heading {
  @include heading-with-border();
  font-size: 20px;

  margin-left: 0;
  padding-left: 3px;
  padding-top: 0;
}

#sidebar ul.nav > li a {
  padding: 3px $padding-base-horizontal 3px 3px;

  .blacklight-about_pages-show & { // accommodate likely occurrence of multi-line items
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

.sidenav .active > a {
  @include sidebar-link-active();
}

// Sidebar adjustments for feature pages.
// Links here are constructed using h4s and nested ol items so styling
// needs to be different than other sidebar links.
#sidebar ol.sidenav {
  > li > h4 { // parent pages
    border-bottom: 0;
    color: $sidebar-link-color;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 3px;
    margin-top: $padding-base-vertical * 4;

    > a {
      color: $color-dark-red;

      &:hover,
      &:focus {
        background-color: $sidebar-link-background-color;
      }
    }
  }

  li:first-child > h4 {
    margin-top: $padding-large-vertical * 3;
  }

  ol.subsection li { // child pages
    list-style-type: none;
    margin-left: 0;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-top: 3px;

    &.active {
      @include sidebar-link-active();
    }

    > a:hover,
    > a:focus {
      background-color: $sidebar-link-background-color;
    }
  }
}

#sidebar ol.sidenav li a:hover,
#sidebar ol.sidenav li a:focus {
  background-color: $sidebar-link-background-color;
}

.blacklight-about_pages-show #sidebar {
  margin-top: $padding-large-vertical * 2;
}

// Use SUL colors for facet sidebar
.facets-header {
  padding-top: 0;
}

.facet-limit {
  border-color: $color-beige-30;

  > .card-header {
    background-color: $color-beige-10;
  }

  &.facet-limit-active {
    border-color: $color-beige-40 !important;

    > .card-header {
      background-color: $color-beige-40 !important;
      color: $color-blackish;
    }
  }

  .facet-values li .selected {
    color: $color-blackish !important;
  }
}

.callout-danger .btn-secondary {
  @extend .btn-danger;
}

.st__content-block--image {
  text-align: center;

  img {
    @include thumbnail-image-border;
  }
}

.img-thumbnail > img,
.img-thumbnail > a > img {
  @include thumbnail-image-border;
}

.search-widgets {

  .btn {
    @extend .btn-sm;
  }

  .view-type-group {
    height: $input-height-sm;
  }
}

.search-box-container .browse-search-form .input-group {
  @extend .input-group-sm;

  .form-control {
    height: $input-height-sm;
  }

  .input-group-btn.input-group-append .btn {
    height: $input-height-sm;
  }
}

.tags .nav-link {
  margin-bottom: 0.5rem;
  padding: 0.33rem 0.66rem;
}
// scss-lint:enable ImportantRule
