body {
  margin:0;
  padding:0;
}

/*
========================================================
Custom base styles
*/

#brandbar .container,
#global-footer .container {
  margin:0 auto;
}
#brandbar .span2,
#global-footer .span2 {
  display: block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#brandbar .span10,
#global-footer .span10 {
  display: block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#brandbar .container:after,
#global-footer .container:after {
  clear:both;
}
#brandbar .row:after,
#global-footer .row:after {
  clear:both;
}
/* Background gradient */
#brandbar {
  background:#8c1515;
  box-shadow:inset 0 -4px 8px -2px rgba(0, 0, 0, 0.2); /* Horizontal offset , vertical offset, blur, internal spacing */
  min-height:30px;
}
#global-footer,
#global-footer .container {
  background:#8c1515;
  color:#e3dfd5;
  box-shadow:inset 0 4px 8px -2px rgba(0, 0, 0, 0.2); /* Horizontal offset , vertical offset, blur, internal spacing */
}
/* Prevent flush left */
#brandbar .container img {
  padding:4px 0 0 10px;
}
#global-footer a {
  color:#e3dfd5;
}
#global-footer a:hover {
  text-decoration:underline;
}
/* Prevent horizontal scroll bar */
#global-footer .container {
  padding:3px 7px 20px;
}
#global-footer .container .row {
  margin:30px 0 0;
}
/* Align logo and text */
#bottom-logo {
  margin:0 0 10px;
  padding:0;
}
#bottom-text {
  margin-top:0;
}
#bottom-text ul {
  margin:2px 0 0;
  padding:0;
  line-height:1em;
}
#bottom-text ul li {
  display:block;
  list-style:none;
}
#bottom-text ul li a {
  font:15px 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-decoration:none;
}
p.copyright {
  font:13px 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin:0;
  padding:25px 0 0;
  line-height:1.5em;
  text-align:center;
}
 #global-footer #copyright-complaint {
      font-size: 12px;
 }

/* Footer two columns */
#global-footer * {
    box-sizing: content-box;
}

#global-footer .span2 {
  width:48%;
  float:left;
}
#global-footer .span10 {
  width:48%;
  float:right;
}
#global-footer img {
  margin:0 auto;
  display:block;
}

/* Clear the floats */
#global-footer .clear {
  clear:both;
}

/*
========================================================
Media queries
*/

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  /* Prevent double background gradient */
  #global-footer .container {
    background:none;
    box-shadow:none;
  }
  #bottom-text {
    margin-top:2px;
  }
  /* Remove left padding */
  #brandbar .container img {
    padding:4px 0 0;
  }
  /* Bootstrap style */
  #brandbar .container,
  #global-footer .container {
    width:724px;
  }
  #global-footer .container .row {
    margin:30px 0 0 -20px;
  }
  /* Footer single column */
  #global-footer .span2 {
    float:left;
    width:104px;
    padding-left:8px; /* Prevent flush left */
  }
  /* Bootstrap style */
  #global-footer .span10 {
    width:600px;
    margin-left:20px;
    margin:0 12px 0 20px;
    float:left;
  }
  #global-footer img {
    margin:0 auto;
  }
  #global-footer ul li.alt {
  	clear:right;
  }
  /* Footer two column */
  #global-footer ul {
    width:100%;
    float:left;
  }
  #global-footer ul li {
  	width:auto;
  	margin:0 13px 3px 0;
  	padding:0;
  	float:none;
  	clear:left;
    display:inline-block;
  }
  #bottom-logo {
    margin:-5px 0 10px;
  }
  #global-footer .clear {
    clear:none;
  }
  p.copyright {
    text-align:left;
    padding-left:17%;
    padding-top:25px;
  }
}

@media screen and (min-width: 980px) {
  /* Bootstrap style */
  #brandbar .container,
  #global-footer .container {
    width:940px;
  }
  #global-footer .span2 {
    width:140px;
  }
  #global-footer .span10 {
    width:780px;
  }
}

@media screen and (min-width: 1200px) {
  /* Bootstrap style */
  #brandbar .container,
  #global-footer .container {
    width:1170px;
  }
  #global-footer .span2 {
    width:170px;
  }
  #global-footer .span10 {
    width:970px;
  }
  p.copyright {
    padding-left:16%;
  }
}

@media (max-width: 767px) {
  #global-footer #copyright-complaint {
    display: block;
  }
}

/*
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

html, body {
	height: 100%;
}
#su-wrap {
	min-height: 100%;
}
#su-content {
	overflow:visible;
	padding-bottom: 120px; /* must be same height as the footer */
}
#global-footer {
	position: relative;
	margin-top: -120px; /* negative value of footer height */
	height: 120px;
	clear:both;
} 

/*Opera Fix*/
	body:before { /* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}