// .view-in-modal is a helper class used to show content in the modal view only
// useful for modal close buttons and other stuff

.view-metadata {
  .view-in-modal {
    display: none;
  }
}

#ajax-modal {
  .view-metadata {
    .view-in-modal {
      display: inline-block;
    }
  }
  .modal-body {
    max-height: calc(100vh - #{$modal-header-footer-height-guess});
    overflow-y: auto;
  }
}
