/*
  Styles for SulStyles Styleguide
*/
@import '../sul-styles';

@import '../sul-icons-rails';
@import '../sul-icons-aliases';
@import '../sul-icons/helpers';

@mixin flexcontainer {
  display: flex;
  flex-flow: row wrap;  
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
}

.color-sample-container {
  @include flexcontainer;
  padding: 12px;
}

.color-sample {
  flex: 0 1 auto;
  margin: 10px;
  text-align: center;
  width: 180px;
}

.color-swatch {
  height: 80px;
  margin-left: 50px;
  margin-right: 50px;
  width: 80px;
}

.icon-container {
  @include flexcontainer;
  padding: 12px;
}

.icon-example-container {
  flex: 0 1 auto;
  padding: 12px;
  text-align: center;
  width: 180px;
}

.icon-example {
  color: $color-black-80;
}
