/*
*= require sir-trevor
*= require social-share-button
*= require bootstrap-tagsinput
*= require jquery.jcrop
*/
@import 'sul_theme';
@import 'spotlight/variables_bootstrap';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'spotlight/spotlight';

#header-navbar {
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 350px;
    height: 50px;
    background:transparent image-url("sul.png") no-repeat center left;
  }
} 

.blacklight-catalog-show {
  #content {
    width: 100%;
  }
  #sidebar {
    display: none;
  }
}

.dl-horizontal dd:after {
  clear: none !important;
}

.oembed-widget {
  @extend .col-md-6;
  @extend .col-sm-12;
}