/*
*= require social-share-button
*= require bootstrap-tagsinput
*= require jquery.jcrop
*/
@import 'variables';
@import 'sul_theme';
@import 'sir-trevor';
@import 'sir-trevor-icons';
@import 'bootstrap';
@import 'blacklight_gallery/default';
@import 'blacklight/blacklight';
@import 'spotlight/spotlight';

#header-navbar {
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 350px;
    height: 50px;
    background:transparent image-url("sul.png") no-repeat center left;
  }
} 

.blacklight-catalog-show {
  #content {
    width: 100%;
  }
  #sidebar {
    display: none;
  }
}

.dl-horizontal dd:after {
  clear: none !important;
}

.oembed-widget {
  @extend .col-md-6;
  @extend .col-sm-12;
}

#documents.list {
  .index_title {
    margin-top: 0;
    font-size: $font-size-large;
    margin-left: 120px;
  }

  .document-counter {
    display: none;
  }

  .document-metadata {
    margin-left: 120px;
  }

  .document-thumbnail {
    float: left;
    padding: 0;
    margin: 0;
    height: 0;

    img {
      border: 1px solid $gray;
    }
  }
}
