.su-brand-bar__logo {
  --bs-link-decoration: none;
  --identity-bar-color: white;
}

.navbar-logo {
  background-size: auto;
}

.bg-cardinal {
  background-color: var(--stanford-cardinal);
}

.fog-light {
  --bs-light-rgb: var(--stanford-fog-light-rgb);
}

/* makes the hr span the length of the screen */
#user-util-collapse hr {
  width: 100vw;
}
