.su-brand-bar__logo {
  --bs-link-decoration: none;

  color: white; /* switch after  https://github.com/sul-dlss/component-library/pull/64 */
  margin-top: 0; /* same as https://github.com/sul-dlss/component-library/pull/62 */
  padding-top: 0.125rem; /* same as https://github.com/sul-dlss/component-library/pull/62 */
}
.navbar-logo {
  --sul-logo-color: black;
  background-image: none; /* override blacklight logo */
}

.bg-cardinal {
  background-color: var(--stanford-cardinal);
}

:root {
  --stanford-fog-light-rgb: 244, 244, 244;
  --bs-light-rgb: var(--stanford-fog-light-rgb);
}
.navbar-nav {
  --bs-nav-link-color: black;
}

/* makes the hr span the length of the screen */
.navbar-collapse hr {
  margin-right: -100vw;
}
