// Local Exhibits variables that may rely on Bootstrap variables

$brandbar-height: 35px;
$brandbar-padding-vertical: $spacer;

$home-masthead-height: 119px;

$breadcrumb-bg: transparent;
$breadcrumb-padding-vertical: $spacer;

$nav-link-padding: $spacer;

$modal-header-footer-height-guess: 212px;

// Only set max-width of containers at breakpoints above "sm"
$container-max-widths: map-remove($container-max-widths, "sm");
