$stanfordRed: #990000;
$cardinalRed: #8C1515;
$darkRed: #820000;
$black: #2e2d29;
$black80: #585754;
$beige5: #fbfbf9;
$beige10: #f2f1eb;
$beige20: #e9e6df;
$beige40: #d5d0c0;
$beige85: #aca68d;
$beige: #9d9573;
$gray: #3F3C30;
$gray90: #565347;
$darkGray: #696969;

$brand-primary: $cardinalRed;
$brandbar-height: 35px;
$navbar-inverse-bg: #101010;
$navbar-inverse-border: #000;
$navbar-default-border: #ddd;
$panel-default-heading-bg: #f7f7f7;
$navbar-default-link-hover-bg: #eee;
$navbar-default-link-color: #000;
$navbar-default-link-active-color: #555;
$navbar-default-link-active-bg: #ebebeb;

$link-color: $black;

// Site Header //
#exhibit-masthead {
  background-color: $beige10;
  padding: 12px 0;
  .site-title {
    margin-top: 15px;
    small {
      color: $darkRed;
      padding-top: 8px;
    }
  }
}

#exhibit-navbar {
  &.navbar {
    margin-bottom: 10px;
  }
  &.navbar-default {
    background-color: $beige5;
    .navbar-form {
      padding-right: 0;
      text-align: right;
    }
    .navbar-nav {
      > .active > a {
        background-color: $beige10;
      }
      > .open > a, > .open > a:hover, > .open > a:focus {
        background-color: $beige20;
      }
      > li {
        border-right: none;
        > a {
          font-size: 17px;
          &:hover {
            background-color: $beige20;
          }
        }
      }
      .dropdown-menu > li > a, .dropdown-menu > li > a {
        &:hover, &:focus {
          background-color: $beige10;
          color: $cardinalRed;
        }
      }
    }
  }
}

.navbar {
  min-height: $brandbar-height !important;
}

#header-navbar {
  &.navbar-inverse {
    background-color: $cardinalRed;
    .navbar-nav > li > a {
      color: #ddd;
      padding-top: 8px;
      padding-bottom: 0;
    }
    .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: $cardinalRed;
    }
  }
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 350px;
    height: $brandbar-height;
    background:transparent image-url("sul.png") no-repeat center left;
  }
  li.dropdown {
    font-size: 14px;
    height: $brandbar-height;
    > a {
      padding: 9px 15px;
    }
    > ul.dropdown-menu {
      font-size: 14px;
    }
  }
}

button#search {
  background-color: $beige10;
  border-color: #cccccc;
  .glyphicon-search {
    color: #777777;
  }
}

.breadcrumb {
  background-color: transparent;
  border-bottom: 1px solid $beige20;
  border-radius: 0;
  font-size: 13px;
  margin-bottom: 6px;
  padding-left: 0;
}

// Global //
body {
  background-color: $beige5;
  font-family: 'Source Sans Pro',Arial,sans-serif;
}

a {
  color: $link-color;
  &:active, &:hover {
    color: $link-color;
  }
}

.sidenav a, p a, .content-block p > a {
  color: $cardinalRed;
  &:active, &:hover {
    color: $cardinalRed;
    text-decoration: dotted;
  }
}

.nav > li > a:hover, .nav > li > a:focus,
#sidebar ol.sidenav li a:hover,
#sidebar ol.sidenav li a:focus {
  background-color: $beige10;
}

p {
  color: $gray;
  line-height: 1.6;
  padding: 0 0 11px;
}

#main-container h1 {
  font-size: 26px;
  margin-left: 12px;
  margin-top: 8px;
  &.page-title, &.page-header {
    margin-left: 0px;
  }
  &.media-heading {
    margin-left: 0;
  }
}

h2 {
  font-size: 20px;
  border-bottom: 1px solid #eae9e6;
  padding-bottom: 5px;
}

.media.row {
  margin-left: 0;
  > img {
    margin-top: 10px;
  }
}

.media-heading {
  font-size: 18px;
  a {
    margin-right: 6px;
  }
}

.media-body {
  padding-left: 10px;
  > .item-count {
    color: #5f574f;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.thumbnail {
  background-color: $beige5;
  border: none;
  img {
    max-height: 200px;
  }
}

.caption, .primary-caption, .secondary-caption {
  line-height: 1.3;
}

.documentHeader {
  margin-left: 0;
}

.document-thumbnail img {
  max-height: 200px;
}

.caption .document-metadata {
  margin-bottom: 0;
}

.pagination > .active > a, .pagination > .active > a:hover {
  background-color: #5f574f;
  border-color: $black;
}

.btn-info {
  background-color: $beige85;
  border-color: $beige;
}

// Homepage Fix //
  // temporary // 
.blacklight-home_pages-show {
  .col-md-9 {
    margin-top: 30px;
  }
  #sidebar {
    margin-top: 12px;
  }
}

// Facets //
.top-panel-heading {
  padding-left: 0;
}

h5.panel-title > a {
  color: $link-color;
  &:active, &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

.panel-default > .panel-heading {
  color: $link-color;
  background-color: #f7f7f7;
}

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
  color: $link-color;
  background-color: #f7f7f7;
  border-color: #dddddd;
}

.panel-success, .facet_limit-active {
  border-color: #dddddd;
}

.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-color: #dddddd;
}

.facet-values li .selected {
  color: $link-color;
}

// Results Page //
.dropdown-toggle.btn-default:hover, .dropdown-toggle.btn-default:active {
  background-color: $beige10;
}

.dropdown-menu > li > a, .dropdown-menu > li > a {
  color: $cardinalRed;
  &:hover, &:focus {
    background-color: $beige10;
    color: $cardinalRed;
  }
}

.well, .constraints-container {
  background-color: $beige5;
}

.constraints-container {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
  .constraints-label {
    margin-right: 10px;
  }
  .constraint-value {
    border-radius: 10px;
  }
  a.btn.btn-default.btn-sm.remove.dropdown-toggle {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    &:hover, &:active {
      background-color: $darkRed;
    }
  }
  a.catalog_startOverLink {
    display: none;
  }
}

#sortAndPerPage strong {
  color: #777;
}
form.bookmark_toggle {
  display: none;
}

h5.index_title {
  font-size: 16px;
  a {
    border-bottom: 1px dotted $beige85;
    text-decoration: none;
  }
}

// Catalog Show Page //
.blacklight-catalog-show {
  #content {
    width: 100%;
  }
  #sidebar {
    display: none;
  }
}

.dl-horizontal dd:after {
  clear: none !important;
}

.find-this-item {
  h4 {
    color: $cardinalRed;
    margin-left: 30px;
  }
  h5 {
    margin-left: 50px;
  }
}

#previousNextDocument {
  padding-bottom: 0;
}

.osd-toolbar .controls .glyphicon {
  color: #5f574f;
}

// Feature Pages //
#sidebar ol.sidenav li > h4 {
  margin-top: 15px;
  a {
    color: $black80;
  }
}

// Site Footer //
footer {
  background-color: #f2f1eb;
  border-top: 1px solid #dddddd;
}

// Admin/Curator Mode //
.blacklight-home_pages-show .edit-button {
  margin-bottom: 1em;
}

// Curator Mode - Widgets //
.content-block {
  &.row {
    margin-left: 0;
  }
  margin-bottom: 10px;
  margin-top: 10px;
  img {
    max-height: 175px;
  }
  &.item-text {
    margin-right: 10px;
    > .image-block.pull-left {
      margin-left: 15px;
    }
  }
  &.slideshow-block {
    background-color: $beige10;
    border-color: $beige40;
  }
  &.item-features {
    .carousel .slideshow-indicators li {
      border-color: $beige40;
      border-radius: 0;
      &:nth-child(odd) {
        background-color: $beige5;
      }
      &.active {
        background-color: $beige10;
        color: #3F3C30;
      }
    }
  }
  &.image-block {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .image-block.pull-left {
    margin-right: 10px;
  }
  .image-block.pull-right {
    margin-left: 10px;
  }
//  &.documents {
//    .index_title a {
//      color: $link-color;
//      &:active, &:hover {
//        color: $link-color;
//      }
//    }
//  }
}
