// Colors
$black: #000;
$blackish: #2e2d29;
$blue: #00548f;
$cardinal-red: #8c1515;
$cool-grey: #4d4f53;
$dark-gray: #777777;
$mint: #009b76;
$white: #fff;
$fog: #dad7cb;
$fog-light: #f4f4f4;
$fog-light-90: #f4f4f4e6;

//Variables
$sul-btn-secondary-color: #f2f1eb;
$sul-btn-secondary-border: $fog;
$sul-search-btn-color: $dark-gray;
