@import 'variables';

// Mixins //
@mixin tag-styling {
  background-color: $beige20;
  border: 1px solid $beige85;
  font-weight: 500;
  a {
    color: $gray90;
  }
}

@mixin caption-styling {
  font-size: 13px;
  font-style: normal;
  line-height: 1.3;
  margin: 6px;
}

// Site Header //
#exhibit-masthead {
  background-color: $beige10;
}

#exhibit-navbar {
  &.navbar {
    margin-bottom: 10px;
  }

  &.page-masthead.navbar {
    margin-bottom: 0;
    background-color: #565347;
    .navbar-nav {
      > li > a:hover, > li > a:active, > li > a:focus {
        color: $darkGray;
      }
    }
    .open .dropdown-menu > li > a {
      color: $darkGray;
    }
  }

  &.navbar-default {
    background-color: $beige5;
    .navbar-form {
      padding-right: 0;
      text-align: right;
    }
    .navbar-nav {
      > .active > a {
        background-color: $beige10;
      }
      > .open > a, > .open > a:hover, > .open > a:focus {
        background-color: $beige20;
      }
      > li {
        border-right: none;
        > a {
          font-size: 17px;
          &:hover {
            background-color: $beige20;
          }
        }
      }
      .dropdown-menu > li > a, .dropdown-menu > li > a {
        &:hover, &:focus {
          background-color: $beige10;
          color: $cardinalRed;
        }
      }
    }
  }
}

.navbar {
  min-height: $brandbar-height !important;
}

#header-navbar {
  &.navbar-inverse {
    background-color: $cardinalRed;
    border-color: $darkRed;
    .navbar-nav > li > a {
      color: #ddd;
      padding-top: 8px;
      padding-bottom: 0;
    }
    .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: $cardinalRed;
    }
  }
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 350px;
    height: $brandbar-height;
    background:transparent image-url("sul.png") no-repeat center left;
  }
  li.dropdown {
    font-size: 14px;
    height: $brandbar-height;
    > a {
      padding: 9px 15px;
    }
    > ul.dropdown-menu {
      font-size: 14px;
    }
  }
}

button#search {
  background-color: $beige10;
  border-color: #cccccc;
  .glyphicon-search {
    color: #777777;
  }
}

.breadcrumb {
  background-color: transparent;
  border-bottom: 1px solid $beige20;
  border-radius: 0;
  font-size: 13px;
  margin-bottom: 6px;
  padding-left: 0;
}

// Global //
body {
  background-color: $beige5;
  font-family: 'Source Sans Pro',Arial,sans-serif;
}

a {
  color: $link-color;
  &:active, &:hover {
    color: $link-color;
  }
}

.sidenav a, p a, .content-block p > a, ol li > a {
  color: $cardinalRed;
  &:active, &:hover {
    color: $cardinalRed;
    text-decoration: dotted;
  }
}

.nav > li > a:hover, .nav > li > a:focus,
#sidebar ol.sidenav li a:hover,
#sidebar ol.sidenav li a:focus {
  background-color: $beige10;
}

p {
  color: $gray;
  line-height: 1.6;
  padding: 0 0 11px;
}

.category-title {
  color: $gray-lighter;
}

#main-container h1 {
  font-size: 26px;
  // margin-left: 12px;
  margin-top: 8px;
  &.page-title, &.page-header {
    margin-left: 0px;
  }
  &.media-heading {
    margin-left: 0;
  }
}

h2 {
  font-size: 20px;
  border-bottom: 1px solid #eae9e6;
  padding-bottom: 5px;
}

.media.row {
  margin-left: 0;
  > img {
    margin-top: 10px;
  }
}

.media-heading {
  font-size: 18px;
  a {
    margin-right: 6px;
  }
}

.media-body {
  padding-left: 10px;
  > .item-count {
    color: #5f574f;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.thumbnail {
  background-color: $beige5;
  border: none;
  img {
    // max-height: 200px;
  }
}

.document-thumbnail img {
  max-height: 200px;
}

.caption .document-metadata {
  margin-bottom: 0;
}

.pagination > .active > a, .pagination > .active > a:hover {
  background-color: #5f574f;
  border-color: $black;
}

.btn-info {
  background-color: $beige85;
  border-color: $beige;
}

// Homepage Fix //
  // temporary //
.blacklight-home_pages-show {
  // .col-md-9 {
  //   margin-top: 30px;
  // }
  #sidebar {
    margin-top: 12px;
  }
}

// Facets //
.top-panel-heading {
  padding-left: 0;
}

h5.panel-title > a {
  color: $link-color;
  &:active, &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

.panel-default > .panel-heading {
  color: $link-color;
  background-color: #f7f7f7;
}

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
  color: $link-color;
  background-color: #f7f7f7;
  border-color: #dddddd;
}

.panel-success, .facet_limit-active {
  border-color: #dddddd;
}

.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-color: #dddddd;
}

.facet-values li .selected {
  color: $link-color;
}

// Results Page //
.dropdown-toggle.btn-default:hover, .dropdown-toggle.btn-default:active {
  background-color: $beige10;
}

.dropdown-menu > li > a, .dropdown-menu > li > a {
  color: $cardinalRed;
  &:hover, &:focus {
    background-color: $beige10;
    color: $cardinalRed;
  }
}

.well, .constraints-container {
  background-color: $beige5;
}

.constraints-container {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
  .constraints-label {
    margin-right: 10px;
  }
  .constraint-value {
    border-radius: 10px;
  }
  a.btn.btn-default.btn-sm.remove.dropdown-toggle {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    &:hover, &:active {
      background-color: $darkRed;
    }
  }
  a.catalog_startOverLink {
    display: none;
  }
}

#sortAndPerPage strong {
  color: #777;
}
form.bookmark_toggle {
  display: none;
}

h5.index_title {
  font-size: 16px;
  a {
    border-bottom: 1px dotted $beige85;
    text-decoration: none;
  }
}

// Catalog Show Page //
.blacklight-catalog-show {
  #content {
    width: 100%;
  }
  #sidebar {
    display: none;
  }
}

.dl-horizontal dd:after {
  clear: none !important;
}

.find-this-item {
  h4 {
    color: $cardinalRed;
    margin-left: 30px;
  }
  h5 {
    margin-left: 50px;
  }
}

#previousNextDocument {
  padding-bottom: 0;
}

.osd-toolbar .controls .glyphicon {
  color: #5f574f;
}

#document ul.tags li {
  @include tag-styling;
}

// Feature Pages //
#sidebar ol.sidenav li > h4 {
  margin-top: 15px;
  a {
    color: $black80;
  }
}

// Site Footer //
footer {
  background-color: #f2f1eb;
  border-top: 1px solid #dddddd;
  @media (max-width: 767px) {
    .sul-footer {
      padding-top: 0;
    }
    .sul-footer-links {
      display: inline;
      margin-left: 10px;
      margin-top: 0;
      text-align: center;
      &.col-md-9 {
        margin-top: 5px;
      }
    }
    .share_follow {
      margin-left: 10px;
      margin-top: 0;
      text-align: center;
      h5, .social-share-button, a {
        display: inline;
        padding-right: 10px;
      }
    }
  }
}
.sul-footer {
  padding-top: 30px;
}
.sul-footer-img {
  margin-right: 15px;
	padding-left: 25px;
}
.sul-footer-links {
	text-align: left;
	padding-left: 15px;
  &.col-md-9 {
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin:  0 13px 3px 0;
      padding: 0;
      display: inline;
      a {
        white-space: nowrap;
      }
      a, a:hover, a:focus {
        color: #3f3c30;
        text-decoration: none;
        border-bottom: 1px dotted #B6B1A9;
      }
    }
  }
}

// Admin/Curator Mode //
.blacklight-home_pages-show .edit-button {
  margin-bottom: 1em;
}

.bootstrap-tagsinput .tag {
  color: $gray90;
  @include tag-styling;
}

// Curator Mode - Widgets //
.content-block {
  &.row {
    margin-left: 0;
  }
  margin-bottom: 10px;
  margin-top: 10px;
  img {
    max-height: 175px;
  }
  &.item-text {
    margin-right: 10px;
    > .image-block {
      background-color: $beige10;
      border: 1px solid $beige30;
      &.pull-left {
        margin-left: 15px;
        margin-right: 20px;
        > .thumbnail {
          margin-right: 0;
        }
      }
      &.pull-right {
        margin-left: 20px;
        margin-right: 15px;
        > .thumbnail {
          margin-left: 0;
        }
      }
      > .thumbnail {
        border: 1px solid $beige30;
        margin-bottom: 0;
        padding: 0;
      }
    }
    .primary-caption, .secondary-caption {
      @include caption-styling;
    }
  }
  &.slideshow-block {
    background-color: $beige10;
    border-color: $beige40;
  }
  &.item-features {
    .carousel .slideshow-indicators li {
      border-color: $beige40;
      border-radius: 0;
      &:nth-child(odd) {
        background-color: $beige5;
      }
      &.active {
        background-color: $beige10;
        color: #3F3C30;
      }
    }
  }
  &.spotlight-flexbox {
    .box {
      padding: 5px;
      &:first-child {padding-left: 0;}
      &:last-child {padding-right: 0;}
    }
    .box .caption {
      @include caption-styling;
    }
  }
  &.image-block {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .image-block.pull-left {
    margin-right: 10px;
  }
  .image-block.pull-right {
    margin-left: 10px;
  }
}

// 2015-03-19 fixes
#main-container > .row {
  margin-left: 0;
  margin-right: 0;
}

.browse-categories .category-caption {
  .category-title {
    font-size: 22px;
  }
  .item-count {
    font-size: 15px;
  }
}

.browse-categories .browse-category, .browse-landing .image-overlay {
  border: 2px solid #999;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
}

.browse-landing h2 {
  border-bottom: none;
}

.browse-landing .text-overlay .browse-category-title {
  font-size: 24px;
  @media screen and (min-width: 769px) and (max-width: 991px) {
    font-size: 20px;
  }
}

.browse-landing .category {
  min-height: 300px;
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    min-height: 250px;
  }
  @media screen and (max-width: 991px) {
    min-height: 190px;
  }
}

.breadcrumb {
  margin-bottom: 20px;
}

.content-block {
  margin-top: 0;
  margin-bottom: 30px;
  + .content-block {
    margin-top: 30px;
  }
}

.spotlight-flexbox + .content-block {
  margin-top: 30px;
}

.page-title {
  margin-bottom: 30px;
}

.content-block .thumbnail {
  margin-bottom: 10px;
}

.content-block .text-col.pull-left {
  padding-left: 0;
}

.item-grid-block .items-col .box .thumbnail a>img {
  border-color: #cccccc;
}

.content-block img,  {
  max-height: none;
}

.item-features {
  .carousel-indicators .active {
  }
}

.page-header small {
  font-size: 22px;
}

.spotlight-flexbox .box {
  img {
    border: 1px solid #ccc;
  }
}

.spotlight-flexbox.browse-categories .box {
  padding: 1em 6px;
  &:first-child {padding-left: 0;}
  &:last-child {padding-right: 0;}
}

#documents.documents-list #documents.documents-list .index_title {
  width: 90%;
  line-height: inherit;
}

h1 + small {
  font-size: $font-size-base;
}

h2 > p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content-block + h2 {
  margin-top: 30px;
}

.analytics {
  margin-bottom: 30px;
  td.value {
    font-size: 24px;
  }
}
