// Colors
$black: #000;
$cardinal-red: #8c1515;
$cool-grey: #4d4f53;
$white: #fff;
$fog: #dad7cb;
$fog-light-90: #f4f4f4e6;

//Variables
$sul-btn-secondary-color: #f2f1eb;
$sul-btn-secondary-border: $fog;
