// Colors
$beige-5-percent: #fbfbf9;
$black: #000;
$blackish: #2e2d29;
$blue: #00548f;
$bright-blue: #006cb8;
$bright-red: #b1040e;
$cardinal-red: #8c1515;
$cloud: #dad7cb;
$cool-grey: #4d4f53;
$gray: #3f3c30;
$dark-gray: #777777;
$light-sandstone: #f9f6ef;
$mint: #009b76;
$dark-mint: #00664e;
$poppy: #e98300;
$stone: #544948;
$very-pale-orange: #ffe9c5;
$very-pale-red: #ffe5ea;
$white: #fff;
$fog-light: #f4f4f4;

//Variables
$sul-bg-color: $beige-5-percent;
$sul-btn-secondary-color: #f2f1eb;
$sul-btn-secondary-border: $cloud;
$sul-btn-disabled-color: $cool-grey;
$sul-btn-primary-color: $cardinal-red;
$sul-btn-success-color: $bright-blue;
$sul-footer-bg-color: $light-sandstone;
$sul-h1-font-color: $blackish;
$sul-h2-font-color: $stone;
$sul-h3-font-color: $cool-grey;
$sul-h4-font-color: $cool-grey;
$sul-link-color: $bright-blue;
$sul-link-color-border: $blue;
$sul-search-btn-color: $dark-gray;
$sul-shadow-color: rgba(0, 0, 0, .2);
$sul-text-color: $blackish;
$sul-list-group-item-bg: $light-sandstone;
$sul-list-group-item-warning-bg: $very-pale-orange;
$sul-list-group-item-danger-bg: $very-pale-red;
$sul-skip-to-nav-bg: $white;

$main-nav-bg-color: $light-sandstone;

$nav-pills-link-active-color: $blackish;
$nav-pills-link-active-bg: #d7d3c9;

$color-ready: $mint;
$color-recalled: $bright-red;
$color-overdue: $poppy;

// Spacing
$page-section-margin-bottom: 45px;
