$stanfordRed: #990000;
$cardinalRed: #8C1515;
$darkRed: #820000;
$black: #2e2d29;
$beige10: #f2f1eb;
$beige40: #d5d0c0;
$beige5: #fbfbf9;
$darkGray: #696969;

$brand-primary: $cardinalRed;
$brandbar-height: 35px;
$navbar-inverse-bg: #101010;
$navbar-inverse-border: #000;
$navbar-default-border: #ddd;
$panel-default-heading-bg: #f7f7f7;
$navbar-default-link-hover-bg: #eee;
$navbar-default-link-color: #000;
$navbar-default-link-active-color: #555;
$navbar-default-link-active-bg: #ebebeb;

$link-color: $black;

// Site Header //
#exhibit-masthead {
  background-color: $beige10;
  padding: 12px 0;
  .site-title {
    margin-top: 15px;
    small {
      color: $darkRed;
      padding-top: 8px;
    }
  }
}

#exhibit-navbar {
  &.navbar-default {
    background-color: $beige5;
    .navbar-form {
      padding-right: 0;
      text-align: right;
    }
    .navbar-nav {
      > .active > a, > .open > a, > .open > a:hover, > .open > a:focus {
        background-color: $beige10;
      }
      > li {
        border-right: none;
        > a {
          font-size: 16px;
          &:hover {
            background-color: $beige10;
          }
        }
      }
      .dropdown-menu > li > a, .dropdown-menu > li > a {
        &:hover, &:focus {
          background-color: $beige10;
          color: $cardinalRed;
        }
      }
    }
  }
}

.navbar {
  min-height: $brandbar-height !important;
}

#header-navbar {
  &.navbar-inverse {
    background-color: $cardinalRed;
    .navbar-nav > li > a {
      color: #ddd;
    }
    .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: $cardinalRed;
    }
  }
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 350px;
    height: $brandbar-height;
    background:transparent image-url("sul.png") no-repeat center left;
  }
  li.dropdown {
    font-size: 14px;
    height: $brandbar-height;
    > a {
      padding: 9px 15px;
    }
    > ul.dropdown-menu {
      font-size: 14px;
    }
  }
}

// Global //
body {
  background-color: $beige5;
  font-family: 'Source Sans Pro',Arial,sans-serif;
}

a {
  color: $link-color;
  &:active, &:hover {
    color: $link-color;
  }
}

.sidenav a, p a, .content-block a {
  color: $cardinalRed;
  &:active, &:hover {
    color: $cardinalRed;
    text-decoration: dotted;
  }
}

p {
  color: $darkGray;
  line-height: 1.6;
  padding: 0 0 11px;
}

#main-container h1 {
  font-size: 26px;
  margin-left: 12px;
  margin-top: 8px;
  &.page-title {
    margin-left: 0px;
  }
  &.media-heading {
    margin-left: 0;
  }
}

h2 {
  font-size: 20px;
  border-bottom: 1px solid #eae9e6;
  padding-bottom: 5px;
}

.media.row {
  margin-left: 0;
  > img {
    margin-top: 10px;
  }
}

.media-heading {
  font-size: 18px;
  a {
    margin-right: 6px;
  }
}

.media-body {
  padding-left: 10px;
  > .item-count {
    color: #5f574f;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.thumbnail {
  background-color: $beige5;
  border: none;
  img {
    max-height: 200px;
  }
}

.caption, .primary-caption, .secondary-caption {
  line-height: 1.3;
}

.documentHeader {
  margin-left: 0;
}

.document-thumbnail img {
  max-height: 200px;
}

.caption .document-metadata {
  margin-bottom: 0;
}


// Facets //
h5.panel-title > a {
  color: $link-color;
  &:active, &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

.panel-default > .panel-heading {
  color: $link-color;
  background-color: $beige10;
  border-color: $beige40;
}

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
  color: $link-color;
  background-color: $beige10;
  border-color: $beige40;
}

.panel-success, .facet_limit-active {
  border-color: $beige40;
}

.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-color: $beige40;
}

.facet-values li .selected {
  color: $link-color;
}

.well, .constraints-container {
  background-color: $beige5;
}

// Results Page //
.dropdown-toggle.btn-default:hover, .dropdown-toggle.btn-default:active {
  background-color: $beige10;
}

.dropdown-menu > li > a, .dropdown-menu > li > a {
  color: $cardinalRed;
  &:hover, &:focus {
    background-color: $beige10;
    color: $cardinalRed;
  }
}
