@import 'bootstrap-sprockets';


$stanfordRed: #990000;
$cardinalRed: #8C1515;
$darkRed: #820000;
$black: #2e2d29;
$black80: #585754;
$beige5: #fbfbf9;
$beige10: #f2f1eb;
$beige20: #e9e6df;
$beige30: #e3dfd5;
$beige40: #d5d0c0;
$beige85: #aca68d;
$beige: #9d9573;
$gray: #3F3C30;
$gray90: #565347;
$darkGray: #696969;

$brand-primary: $cardinalRed;
$brandbar-height: 35px;
$navbar-inverse-bg: #101010;
$navbar-inverse-border: #000;
$navbar-default-border: #ddd;
$panel-default-heading-bg: #f7f7f7;
$navbar-default-link-hover-bg: #eee;
$navbar-default-link-color: #000;
$navbar-default-link-active-color: #555;
$navbar-default-link-active-bg: #ebebeb;

$link-color: $black;


@import 'bootstrap/variables';
@import 'spotlight/variables_bootstrap';