@import 'sul-styles';

$sul-masthead-bg-color: $color-beige-10;
$sul-masthead-border-color: $color-beige-20;
$brand-primary: $color-cardinal-red;
$brandbar-height: 35px;
$black: #2e2d29;
$color-gray-80: #ccc;

// Make default a beign button
$btn-default-color: $black;
$btn-default-bg: $color-beige-10;

$well-bg: $color-beige-20;
$exhibit-card-border: $color-gray-80;
$link-color: $black;

@import 'bootstrap/variables';
@import 'spotlight/variables';
@import 'spotlight/variables_bootstrap';