.mirador-embed-wrapper {
  height: 80vh;
}

.help-text-row {
  padding-top: 12px;
}

.purl-link {
  font-size: 0.9em;
}

.custom-oembed {
  height: 400px;
}

.show-document .custom-oembed {
  height: 600px;
}
