/*
  Stanford Primary Colors
  from https://identity.stanford.edu/overview/color.html
*/

// Primary Palette
$color-cardinal-red: #8c1515;
$color-cool-gray: #4d4f53;
$color-black: #000;

// Neutral Color Palette
$color-pantone-467: #d2c295;
$color-pantone-465: #b3995d;
$color-pantone-403: #928b81;
$color-pantone-401: #b6b1a9;
$color-pantone-7527: #dad7cb;
$color-pantone-5665: #c7d1c5;
$color-pantone-445: #4d5357;
$color-pantone-405: #5f574f;

// Deep Tone Color Palette
$color-pantone-1817: #5e3032;
$color-pantone-7526: #8d3c1e;
$color-pantone-3165: #00505c;
$color-pantone-561: #175e54;
$color-pantone-262: #53284f;

// Bright Color Palette
$color-pantone-2925: #0098db;
$color-pantone-3145: #007c92;
$color-pantone-334: #009b76;
$color-pantone-7511: #b26f16;
$color-pantone-144: #e98300;
$color-pantone-124: #eaab00;
