$sul-footer-bg-color: $color-beige-10;
$sul-footer-border-top-color: $color-beige-20;
$footer-height: 200px;
$sul-footer-shadow-color: rgba(0, 0, 0, 0.2);
$sul-footer-shadow: 0 4px 8px -8px $sul-footer-shadow-color inset;