name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["4.0"]
    steps:
      - uses: actions/checkout@v6
      - name: Install ImageMagick
        run: sudo apt-get install -y imagemagick
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        env:
          BUNDLE_GEMS__CONTRIBSYS__COM: ${{ secrets.BUNDLE_GEMS__CONTRIBSYS__COM }}
        with:
          ruby-version: ${{ matrix.ruby }}
          # Automatically runs 'bundle install' and caches the gems
          bundler-cache: true
      - name: Setup db
        run: bin/rails db:test:prepare
      - name: Run tests
        run: bundle exec rake
