name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["3.4", "4.0"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - uses: actions/cache@v5
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-202103-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-202103
      - name: Install ImageMagick
        run: sudo apt-get install -y imagemagick
      - name: Bundle config
        run: bundle config set path vendor/bundle
      - name: Use sidekiq pro
        env:
          BUNDLE_GEMS__CONTRIBSYS__COM: ${{ secrets.BUNDLE_GEMS__CONTRIBSYS__COM }}
        run: bundle config set --local gems.contribsys.com ${BUNDLE_GEMS__CONTRIBSYS__COM}
      - name: Install dependencies
        run: bundle install
      - name: Setup db
        run: bin/rails db:test:prepare
      - name: Run tests
        run: bundle exec rake
